{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/misc.css' %}">
    <title>Misc</title>
</head>
<body>
    <nav>
        <div id="nav-con">
            <div id="links">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#disc">Disclaimer</a>
                <a href="#terms">Terms and Conditions</a>
                <a href="#pp">Privacy Policy</a>                
            </div>

        </div>
    </nav>


    <div id="main">
        <section class="section" id="about">
            <text class="header">About Us</text>
            <hr class="line">

            <p class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellat incidunt, ad numquam obcaecati exercitationem animi beatae. Id nostrum aliquam maxime? Commodi harum molestiae inventore tenetur sequi, officia veritatis unde.</p>
        </section>

        <section class="section" id="disc">
            <text class="header">Legal Disclaimer</text>
            <hr class="line">

            <p class="article">The author is not responsible for any contents linked or referred to from his pages – If any damage occurs by the use of information presented there, only the author of the respective pages might be liable, not the one who has linked to these pages. Watchcartoononline.COM doesn’t host any content

                All Watchcartoononline.COM does is link or embed content that was uploaded to popular Online Video hosting sites like Veoh.com / Megavideo.com / Youtube.com / Google Video. All youtube/veoh/megavideo/googlevideo users signed a contract with the sites when they set up their accounts wich forces them not to upload illegal content. By clicking on any Links to videos while surfing on Watchcartoononline.COM you watch content hosted on third parties and Watchcartoononline.COM cant take the responsibility for any content hosted on other sites.
                
                We do not upload any videos nor do we know who and where videos are coming from. We do not promote any illegal conduct of any kind. Links to the videos are submitted by users and managed by users.
                DMCA Notice of Copyright Infringement
                
                Watchcartoononline.COM is an online service provider as defined in the Digital Millennium Copyright Act.
                
                We provide legal copyright owners with the ability to self-publish on the Internet by uploading, storing and displaying various types of media. We do not actively monitor, screen or otherwise review the media which is uploaded to our servers by users of the service.
                We take copyright violation very seriously and will vigorously protect the rights of legal copyright owners.
                If you are the copyright owner of content which appears on the Watchcartoononline.COM website and you did not authorize the use of the content you must notify us in writing in order for us to identify the allegedly infringing content and take action.
                
                We will be unable to take any action if you do not provide us with the required information, so please fill out all fields accurately and completely. You may make a written notice via e-mail, facsimile or postal mail to our DMCA Agent as listed below. Your written notice must include the following:
                Specific identification of the copyrighted work which you are alleging to have been infringed. If you are alleging infringement of multiple copyrighted works with a single notification you must submit a representative list which specifically identifies each of the works that you allege are being infringed.
                Specific identification of the location and description of the material that is claimed to be infringing or to be the subject of infringing activity with enough detailed information to permit us to locate the material. You should include the specific URL or URLs of the web pages where the allegedly infringing material is located.
                Information reasonably sufficient to allow us to contact the complaining party which may include a name, address, telephone number and electronic mail address and signature at which the complaining party may be contacted.
                A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent or the law.
                A statement that the information in the notification is accurate, and under penalty of perjury that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
                
                Written notice should be sent to our designated agent as follows:
                
                DMCA AGENT Email: admin [at] watchcartoononline.com</p>
        </section>

        <section class="section" id="terms">
            <text class="header">Terms and Conditions</text>
            <hr class="line">

            <p class="article">Terms And Conditions
    
                Please read these Terms of Service carefully before using this site. This Agreement sets forth the legally binding terms and conditions for your use of this website.
                
                By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms of Service. Bolded terms are defined in this Agreement.
                    
                Intellectual Property
                    
                The Site and its original content, features and functionality are owned and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.
                    
                Termination
                    
                We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
                    
                Links To Other Sites
                    
                Our Site may contain links to third-party sites that are not owned or controlled.
                We have no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.
                    
                Changes To This Agreement
                    
                We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Service.
                
                Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.</p>
        </section>


        <section class="section" id="pp">
            <text class="header">Privacy Policy</text>
            <hr class="line">

            <p class="article">Cookies Policy
                When you use our website, we share information that we collect from you, including IP address, information about your browser or operating system, or your email (in hashed form), with our identity partners/service providers, including CPMStar, LiveRamp Inc and Pubmatic, Inc. These companies return an online identification code that we may store in our first-party cookie for our use in online, in-app, and cross-channel advertising and it may be shared with advertising companies to enable interest-based and targeted advertising. To opt out of this use, please visit:(https://server.cpmstar.com/optout.aspx), (https://optout.liveramp.com/opt_out) and (https://pubmatic.com/legal/opt-out/).
                
                We use a system of classifying the different types of cookies which we use on the Website, or which may be used by third parties through our websites. The classification was developed by the International Chamber of Commerce UK and explains more about which cookies we use, why we use them, and the functionality you will lose if you decide you don’t want to have them on your device.
                
                What is a cookie?
                Cookies are text files containing small amounts of information which are downloaded to your personal computer, mobile or other device when you visit a website. Cookies are then sent back to the originating website on each subsequent visit, or to another website that recognises that cookie. Cookies are useful because they allow a website to recognise a user’s device.
                
                How long are cookies stored for?
                Persistent cookies – these cookies remain on a user’s device for the period of time specified in the cookie. They are activated each time that the user visits the website that created that particular cookie.
                
                Session cookies – these cookies allow website operators to link the actions of a user during a browser session. A browser session starts when a user opens the browser window and finishes when they close the browser window. Session cookies are created temporarily. Once you close the browser, all session cookies are deleted.
                
                Cookies do lots of different jobs, like letting you navigate between pages efficiently, remembering your preferences, and generally improve the user experience.
                
                Cookies used on the Website
                A list of all the cookies used on the Website by category is set out below.
                
                Strictly necessary cookies
                These cookies enable services you have specifically asked for. These cookies are essential in order to enable you to move around the Website and use its features, such as accessing secure areas of the Website.
                
                Performance cookies
                These cookies collect anonymous information on the pages visited. By using the Website, you agree that we can place these types of cookies on your device.
                
                These cookies collect information about how visitors use the Website, for instance which pages visitors go to most often, and if they get error messages from web pages. These cookies don’t collect information that identifies a visitor. All information these cookies collect is aggregated and therefore anonymous. It is only used to improve how the Website works.
                
                Functionality cookies
                These cookies remember choices you make to improve your experience. By using the Website, you agree that we can place these types of cookies on your device.
                
                These cookies allow the Website to remember choices you make (such as your user name, language or the region you are in) and provide enhanced, more personal features. These cookies can also be used to remember changes you have made to text size, fonts and other parts of web pages that you can customise. They may also be used to provide services you have asked for such as watching a video or commenting on a blog. The information these cookies collect may be anonymised and they cannot track your browsing activity on other websites.
                
                Third party cookies
                These cookies allow third parties to track the success of their application or customise the application for you. Because of how cookies work we cannot access these cookies, nor can the third parties access the data in cookies used on our site.
                
                For example, if you choose to ‘share’ content through Twitter or other social networks you might be sent cookies from these websites. We don’t control the setting of these cookies, so please check those websites for more information about their cookies and how to manage them.</p>
        </section>
    </div>
    
</body>
</html>