{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://www.wealthorigin.online/static/fontawesome-free-6.4.0-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/film.css'%}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>{{ series.title }}</title>
</head>
<body>
    <nav id="top-nav">
        <div id="nav-con">
            <a id="navctrl">&#9776;</a>
            <text id="logo">Jollof<text id="logo2">Box</text></text>

            <div id="nav-links">
                <a href="#" class="nav-links">Home</a>
                <a href="#" class="nav-links">Movies</a>
                <a href="#" class="nav-links">Series</a>
                <a href="#" class="nav-links">Support</a>
                <a href="#" class="nav-links">Advertise</a>
                <a href="#" class="nav-links">Contact</a>
            </div>
            
            
            <form id="nav-form" method="POST">{% csrf_token %}
                <div id="form-con">
                    <input id="input-box" type="text" placeholder="Search" required name="search"/>
                    <button type="submit" id="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>     
            </form>    
        </div>
    </nav>

    <div id="main">
        <div id="SideNav">
            <form id="mobile-nav" method="POST">{% csrf_token %}
                <div id="form-con">
                    <input id="input-box" type="text" placeholder="Search" required name="search"/>
                    <button type="submit" id="submit">
                        <center><i class="fa-solid fa-magnifying-glass"></i></center>
                    </button>
                </div>     
            </form>   
            <a href="#"><i class="fa-solid icon fa-house"></i>&nbsp;&nbsp;Home</a>
            <a href="#"><i class="fa-solid icon fa-video"></i>&nbsp;&nbsp;Movies</a>
            <a href="#"><i class="fa-solid icon fa-film"></i>&nbsp;&nbsp;Tv Series</a>
            <a href="#"><i class="fa-solid icon fa-hand-holding-dollar"></i>&nbsp;&nbsp;Support Us</a>
            <a href="#"><i class="fa-solid icon fa-bullhorn"></i>&nbsp;&nbsp;Advertise</a>
            <a href="#"><i class="fa-solid icon fa-headset"></i>&nbsp;&nbsp;Contact</a>   
        </div>

        <div id="main2">
            <div id="main3">
                <section id="film">
                    <div id="poster">
                        <img src="{{ series.poster }}">
                    </div>
                        
        
                    <div id="film-info">
                        <text id="title">{{series.title}}</text>
                        
                        <p id="summary">{{ series.summary }}</p>
                        
                        <div id="genre">
                            {% for gen in genres  %}
                            <span class="genre-span">{{ gen.genre }}</span>                 
                            {% endfor %}
                        </div>
        
                        <div id="film-meta-info">
                            <div class="meta-info">
                                <b><i class="fa-solid info-icon fa-calendar-days"></i>&nbsp;&nbsp;Release Date: </b>
                                <text>{{ series.release_date }}</text>
                            </div>

                            <div class="meta-info">
                                <b><i class="fa-solid info-icon fa-globe"></i>&nbsp;&nbsp;Language: </b>
                                <text>{{ series.language }}</text>
                            </div>

                            <div class="meta-info">
                                <b><i class="fa-solid info-icon fa-industry"></i>&nbsp;&nbsp;Industry: </b>
                                <text>{{ series.industry }}</text>    
                            </div>    

                            <div class="meta-info">
                                <b><i class="fa-solid info-icon fa-building"></i>&nbsp;&nbsp;Company: </b>
                                <text>{{ series.company }}</text>    
                            </div> 
                        </div>
        
                        
                        <div id="Share">
                            <h1>Share:</h1>
        
                            <div id="share-links">
                                <a id="facebook" href="#" class="share-link"><i class="fa-brands fa-facebook"></i></a>
                                <a id="reddit" href="#" class="share-link"><i class="fa-brands fa-reddit-alien"></i></a>
                                <a id="twitter" href="#" class="share-link"><i class="fa-brands fa-twitter"></i></a>
                                <a id="whatsapp" href="#" class="share-link"><i class="fa-brands fa-whatsapp"></i></a>
                                <a id="email" href="#" class="share-link"><i class="fa-solid fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
        
                    
                </section>
        
                <section id="episodes-list">
                    {% for episode in episodes %}
                    <div class="episode-link">
                        <div>
                            <a href="#" class="link">{{ episode.season }} - Episode {{ episode.episode }}</a>
        
                            <div id="rating">
                                <text class="rating">{{ episode.rating }}</text> 
                            </div>
        
                        </div>     
                    </div>
                    {% endfor %}
                </section>

            </div>
        </div>
        
    </div>
    
    <footer>
        <text id="logo">Jollof<text id="logo2">Box</text></text>

        <div id="footer-con">
            <div class="footer-box">
                <h3>Links</h3>
                <span class="line" style="background-color: rgb(226, 43, 80)"></span>
                <a href="#" class="footer-link">About Us</a>
                <a href="#" class="footer-link">Support Us</a>
                <a href="#" class="footer-link">Advertise</a>
                <a href="#" class="footer-link">Contact Us</a>
            </div>

            <div class="footer-box">
                <h3>Social Media</h3>
                <span class="line" style="background-color: rgb(43, 144, 226)"></span>
                <a href="#" class="footer-link">Facebook</a>
                <a href="#" class="footer-link">X</a>
                <a href="#" class="footer-link">Telegram</a>
                <a href="#" class="footer-link">Instagram</a>
            </div>

            <div class="footer-box">
                <h3>Resources</h3>
                <span class="line" style="background-color: rgb(43, 226, 116)"></span>
                <a href="#" class="footer-link">Terms & Conditions</a>
                <a href="#" class="footer-link">Disclaimer</a>
                <a href="#" class="footer-link">Privacy Policy</a>
            </div>
        </div>
        <hr style="width: 99%;">
        <text>©2021 - JOLLOFBOX</text>
    </footer>
</body>
</html>